.parent {
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 1 0 21%;
    margin: 5px;
    font-size: xxx-large;
}

body {
    font-size: x-large;
}

.scoreContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}


.scoreButton {
    flex: 1 0 30%;
    margin: 5px;
    font-size: xxx-large;
}

.activePlayer {
    background-color: bisque;
}
.columnContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}