body {
    font-size: 3em;
}
button {
    font-size: 2em;
    flex: 1 1 0px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}


#add_player{
    margin: 4px;
    flex: 1 1 0px;
}
input {
    font-size: 1em;
}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
}

.active_player {
    background-color: bisque;
}

.selected_multipler {
    background-color: blanchedalmond;
}
.multiplier {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
.vertical_container {
    display: flex;
    flex-flow: column;
}
.score_container {
    display: flex;
    justify-content: space-around;
}
.colum_reverse {
    flex-direction: column-reverse;
}