.parent {
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 1 0 21%;
    margin: 5px;
    /* font-size: xxx-large; */
}

/* body {
    font-size: large;
} */

.scoreContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
td, th {
    border: 1px solid black;
}

.scoreButton {
    flex: 1 0 30%;
    margin: 5px;
    /* font-size: large; */
}

.activePlayer {
    background-color: bisque;
}
.columnContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#selectedMultiplier {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	/* font-weight:bold; */
	padding:4px 14px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
#selectedMultiplier:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
#selectedMultiplier:active {
	position:relative;
	top:1px;
}

.playerAvatar {
    max-width: 100px;
    height: auto;
}

.topMid {
    position: absolute;
    top: 65%;
    left: 0px;
    color: rgb(243, 241, 241);
    -webkit-text-fill-color:rgb(75, 15, 0);
    -webkit-text-stroke: 0.5px  rgb(243, 241, 241);
}
